body{ 
    background: rgb(27,22,108);
    background: linear-gradient(90deg, rgba(27,22,108,1) 0%, rgba(21,21,177,1) 28%, rgba(31,186,218,1) 100%);
    
}

   .serviceIcon {
    color: #684f8e;
    line-height: 100px; 
    margin-bottom: 100px;
   }

   .serviceBox{
    border: 1px solid #4e4e4e;
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
   }
   .serviceBox:before,
   .serviceBox:after{
    content: "";
    width: 200%;
    height: 200%;
    background: #eba133;
    position: absolute;
    top: 160px;
    left: 0;
    z-index: -1;
    transform: rotate(-18deg);
    transition: all 0.5s ease 0s;
   }
   .serviceBox:before{
    background: #4e4e4e;
    left: -120%;
    transform: rotate(24deg);
   }
   .serviceBox:hover:before{
    transform: rotate(16deg);
   }
   .serviceBox:hover:after{
    background: #684f8e;
    transform: rotate(-10deg);
   }
   .serviceBox .service-icon{
    font-size: 60px;
    color: #684f8e;
    line-height: 100px;
    margin-bottom: 100px;
   }

   .serviceBox .service-content{
    color: #fff;
    line-height: 25px;
    padding: 0 20px 20px;
   }

   .serviceBox .title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
   }
   .serviceBox .description{
    font-size: 14px;
   }
   .serviceBox .read{
    display: block;
    width: 100%;
    background: #fff;
    font-size: 15px;
    font-weight: 600;
    color: #eba133;
    padding: 10px;
    border-left: 1px solid #eba133;
    border-right: 1px solid #eba133;
   }
   .serviceBox:hover .read{
    border-color: #684f8e;
    color: #684f8e;
   }
   @media only screen and (max-width: 990px){
    .serviceBox{ margin-bottom: 30px; }
   }
   @media only screen and (max-width: 767px){
    .serviceBox:before,
    .serviceBox:after{
    top: 80px;
    }
   }
   @media only screen and (max-width: 480px){
    .serviceBox:before,
    .serviceBox:after{
    top: 140px;
    }
   }

   /* Buttons */
    
   .buttons .btn{
    position: relative;
    color:#fff;
    border-radius:30px;
    text-transform: uppercase;
    transform: scale(1.1,1.1);
    transition:all 0.3s ease-out 0s;
   }
   .btn:hover{
    transform: scale(1,1);
    color:#fff;
   }
   .btn i{
    margin-right:15px;
    color:#fff;
   }
   .btn:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left:0px;
    width:100%;
    height: 10px;
    filter: blur(20px);
    border-radius: 30px;
    display: inline-block;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
   }
   .btn:hover:before{
    bottom:0;
    filter: blur(10px);
   }
   .btn.blue{
    background: linear-gradient(to left, #7474bf , #348ac7);
   }
   .btn.blue:before{
    background: linear-gradient(to right,#7474bf,#348ac7);
   }
   .btn.green{
    background: linear-gradient(to left, #414d0b , #727a17);
   }
   .btn.green:before{
    background: linear-gradient(to right,#414d0b,#727a17);
   }
   
   .btn.orange{
    background: linear-gradient(to left, #fe8c00 , #f83600);
   }
   .btn.orange:before{
    background: linear-gradient(to right,#fe8c00,#f83600);
   }
   .btn.purple{
    background: linear-gradient(to left, #c04848 , #480048);
   }
   .btn.purple:before{
    background: linear-gradient(to right,#c04848,#480048);
   }
   @media only screen and (max-width: 767px){
    .btn{
    margin-bottom:15px;
    }
   }

   /* my cards */

   .btn1 .green1 {
    transform: scale(1.1,1.1);
    transition:all 0.3s ease-out 0s;
    border-radius:30px;
    background: radial-gradient(circle, rgba(251,128,172,0.9164040616246498) 24%, rgba(252,70,107,1) 100%);
   }

   .btn1 .green1:hover{
    transform: scale(1,1);
    /* color:#fff; */
}

   .examples .card {
    border: 3px solid #f83600;
   }

   /* .cardColor {
    border: 1px solid #4e4e4e;
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
   } */

    .cardColor
    {
    content: "";
    /* width: 200%; */
    /* height: 200%; */
    background: #eba133;
    position:static;
    /* top: 160px; */
    /* left: 0; */
    z-index: -1;
    transform: rotate(-18deg);
    transition: all 0.5s ease 0s;
   }

   .cardColor {
    background: #4e4e4e;
    left: -120%;
    transform: rotate(24deg);
   }